<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>在网站中集成markdown</title>
		<div th:replace="~{header::header}">

		</div>
	</head>
	
	<body>
		<div id="test-editormd">
		    <!--<textarea style="display:none;">-->
			<!--<script src="../js/jquery.min.js"></script>-->
			<!--<script src="../editormd.js"></script>-->
			<!--</textarea>-->
			<textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc" style="display:none;"></textarea>
			<!-- 用于后端获取md稳当内容，Java中：request.getParameter("my-editormd-html-code")。 -->
			<textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
		</div>
	<div>
		<input type="button" class="article-publish" value="提交文章">
	</div>
		<div th:replace="~{footer::footer}">

		</div>
		<script src="editTest/js/editor.js"></script>
	</body>
</html>
